use flake
dotenv_if_exists .env.development
# Put things like
# GOPROXY=https://goproxy.cn
# CRATESIOMIRROR=https://mirrors.tuna.tsinghua.edu.cn/git/crates.io-index.git
# here to accelerate docker image building
dotenv_if_exists .env.development.china
dotenv_if_exists
